<!-- xxxxx Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWW8WZK"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    
    <header class="pt-3">
    <div class="container">
        <div class="flex flex-wrap items-center -mx-4">
            <div id="logo" class="w-2/3 tablet:w-1/3 p-4">
                <img src="assets/img/logo.png" alt="Instituto Anziano" />
            </div>

            <div
                class="w-1/4 text-right block tablet:hidden z-10 relative"
                id="mobilenav">
                <div class="hamburger hamburger--squeeze js-hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>

            <div class="w-full hidden desktop:block tablet:w-2/3 p-2">
                <ul class="list-reset flex justify-end">
                    <li>
                        <a
                            class="uppercase text-17 text-white font-bold no-underline px-4"
                            href="#home">
                            início
                        </a>
                    </li>

                    <li>
                        <a
                            class="uppercase text-17 text-white font-bold no-underline px-4"
                            href="#servicos">
                            Nossos serviços
                        </a>
                    </li>

                    <li>
                        <a
                            class="uppercase text-17 text-white font-bold no-underline px-4"
                            href="#quemsomos">
                            Quem somos
                        </a>
                    </li>

                    <li>
                        <a
                            class="uppercase text-17 text-blue-light font-bold no-underline px-4 text-center"
                            target="_BLANK" href="https://api.whatsapp.com/send?phone=5519989487171&text=Ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os%20para%20idosos.">
                        <b>Solicite um Orçamento</b>
                        </a>
                    </li>
                </ul>
            </div>

            <div
                class="block desktop:hidden navmb bg-white fixed h-full w-full pin">
                <ul class="list-reset py-20 text-center ">
                    <li class="w-full py-5">
                        <a
                            class="uppercase text-20 text-grey font-bold no-underline px-4"
                            href="#home">
                            início 1
                        </a>
                    </li>

                    <li class="w-full py-5">
                        <a
                            class="uppercase text-20 text-grey font-bold no-underline px-4"
                            href="#servicos">
                            Nossos serviços
                        </a>
                    </li>

                    <li class="w-full py-5">
                        <a
                            class="uppercase text-20 text-grey font-bold no-underline px-4"
                            href="#quemsomos">
                            Quem somos
                        </a>
                    </li>

                    <li class="w-full py-5">
                        <a
                            class="uppercase text-20 text-blue-light font-bold no-underline px-4 text-center"
                            target="_BLANK" href="https://api.whatsapp.com/send?phone=5519989487171&text=Ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os%20para%20idosos.">
                        <b>Solicite um Orçamento</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex flex-wrap pt-10 -mx-4">
            <div class="w-full tablet:w-1/2 p-4">
                <h1
                    class="text-white text-40 mb-6 leading-none font-bold">
                    Nossos Idosos <br />
                    merecem um <br />
                    cuidado especial
                </h1>

                <p class="text-white text-20 leading-tight font-light">
                    Oferecemos serviços especializados no cuidado
                    <br class="hidden tablet:block" />
                    de idosos, com profissionais capacitados e
                        dedicados.
                </p>
                
                 <p class="text-white text-20 leading-tight font-bold">
                    <br>Visita e Avaliação diagnóstica gratuita!
                </p>

                <a
                    class="bg-blue-dark w-full tablet:w-auto shadow-lg text-white uppercase mt-5 py-5 px-10 no-underline font-bold inline-block rounded-full text-center"
                    target="_BLANK" href="https://api.whatsapp.com/send?phone=5519989487171&text=Ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os%20para%20idosos.">
                    <b>Solicite um Orçamento</b>
                </a>
            </div>

            <div class="w-full tablet:w-1/2 p-0">
                <img
                    class="shadow-lg block -mb-5 w-full"
                    src="assets/img/banner-top.jpg"
                    alt="Nossos idosos merecem um cuidado especial"/>
            </div>
        </div>
    </div>
</header>
