<section id="servicos" class="container">
    <div class="flex flex-wrap -mx-4">
        <div class="w-full p-4 bg-white tablet:p-4 mx-auto flex shadow-lg mt-10  pb-16 flex-wrap">
            <div class="w-full text-center py-10">
                <h2 class="text-blue text-30 tablet:text-44 leading-none">
                    Nossos Serviços
                </h2>
            </div>
            <div class="flex w-full flex-wrap justify-around">
                <div class="w-full tablet:w-1/2 py-4 px-3 mb-10">
                    <div class="w-full border-b-8 border-blue-light">
                        <img class="-mb-2 w-full" src="assets/img/service/01.jpg" alt="Check-Up do lar" />
                    </div>

                    <div class="w-full">
                        <h3 class="text-blue mt-4 text-20 tablet:text-28">
                            Check-Up do Lar
                        </h3>

                        <p class="pt-2">
                            Consultoria para a adequação da residência com a
                            finalidade de prevenir quedas e evitar outros
                            acidentes. Orientamos sobre a instalação de barras
                            de apoio, corrimãos e outros elementos de segurança,
                            mobilidade e acessibilidade para garantir a
                            segurança e independência do idoso em casa. Nós não
                            só orientamos, como também dispomos do serviço de
                            fazer a reforma necessária e deixar essa solução
                            entregue.
                        </p>
                    </div>
                </div>

                <div class="w-full tablet:w-1/2 py-4 px-3 mb-10">
                    <div class="w-full border-b-8 border-blue-light">
                        <img class="-mb-2 w-full" src="assets/img/service/02.jpg" alt="Cuidadores" />
                    </div>

                    <div class="w-full">
                        <h3 class="text-blue mt-4 text-20 tablet:text-28text-28">
                            Cuidadores
                        </h3>

                        <p class="pt-2">
                            Além de oferecer apoio no dia a dia, criar
                            atividades lúdicas, promovendo estímulos físicos,
                            sociais, mentais e mantendo a organização da
                            residência. <br />
                            Podem ser contratados de 4 a 24 horas por dia, ou,
                            no caso de procedimentos (auxílio banho, curativos),
                            a partir de 2 horas. O atendimento pode ser feito na
                            residência, em hospitais, clínicas ou institutos de
                            longa permanência (residenciais, casas de repouso).
                        </p>
                    </div>
                </div>

                <div class="w-full tablet:w-1/2 py-4 px-3 mb-10">
                    <div class="w-full border-b-8 border-blue-light">
                        <img class="-mb-2 w-full" src="assets/img/service/03.jpg"
                            alt="Acompanhante para internação hospitalar" />
                    </div>

                    <div class="w-full">
                        <h3 class="text-blue mt-4 text-20 tablet:text-28text-28">
                            Acompanhante para internação hospitalar
                        </h3>

                        <p class="pt-2">
                            Profissionais qualificados e de confiança para
                            substituir um familiar que, por alguma razão, não
                            pode acompanhar o paciente no momento de internação
                            ou tratamento.
                        </p>
                    </div>
                </div>

                <div class="w-full tablet:w-1/2 py-4 px-3 mb-10">
                    <div class="w-full border-b-8 border-blue-light">
                        <img class="-mb-2 w-full" src="assets/img/service/04.jpg" alt="Atividade Física" />
                    </div>

                    <div class="w-full">
                        <h3 class="text-blue mt-4 text-20 tablet:text-28text-28">
                            Atividade Física
                        </h3>

                        <p class="pt-2">
                            Um modelo específico voltado para a terceira idade e
                            para a busca de um envelhecimento ativo. É uma das
                            intervenções mais eficientes para a melhora da
                            qualidade de vida dos idosos, pois auxilia no
                            controle das mudanças que ocorrem durante o processo
                            de envelhecimento, observando uma melhoria do bem
                            estar geral, da condição da saúde física e, mais
                            importante, a preservação da independência e
                            autonomia nas atividades do cotidiano.
                        </p>
                    </div>
                </div>

                <div class="w-full tablet:w-1/2 pt-4 px-3">
                    <div class="w-full border-b-8 border-blue-light">
                        <img class="-mb-2 w-full" src="assets/img/service/05.jpg" alt="Sênior Interativo" />
                    </div>

                    <div class="w-full">
                        <h3 class="text-blue mt-4 text-20 tablet:text-28text-28">
                            Sênior Interativo
                        </h3>
                    </div>
                </div>

                <div class="w-5/6 mx-auto p-0 tablet:px-4">
                    <p class="pt-2">
                        Enviamos um profissional, a partir de 1 vez por semana,
                        por 4 horas para realizar junto ao idoso atividades de
                        estímulo cognitivo, social e físico. Isso pode incluir
                        caminhadas, alongamentos, exposições, ir ao mercado, à
                        feira, a consultas e exames, ao cinema e outros.
                        Motoristas treinados para lidar com idosos, inclusive
                        aqueles que sofrem de demências.Suporte ideal para os
                        idosos que apresentam resistência a um cuidador
                        constante, porém já precisam de um pouquinho mais de
                        ajuda no seu dia a dia, como, por exemplo, para se
                        vestir, tomar banho, lavar a cabeça, bem como idosos que
                        começam a se isolar por ter receio de sair de casa e
                        cair na rua ou outros.Elaboramos uma agenda em conjunto
                        com a família e o idoso, abrangendo os compromissos
                        regulares que a pessoa idosa já tem (médicos,
                        fisioterapia, hidroginástica, acupuntura e outros) e
                        agregando atividades lúdicas leves, caminhadas,
                        passeios, jogos de tabuleiro (dominó, xadrez, damas
                        etc.) ou cartas, jogos que estimulem a memória e a
                        agilidade mental, reuniões com amigos/parentes.
                    </p>
                </div>

                <div class="w-full p-4 text-center">
                    <a class="bg-blue-dark shadow-lg text-white uppercase mt-5 py-5 px-10 no-underline font-bolds inline-block rounded-full text-center"
                        target="_BLANK" href="https://api.whatsapp.com/send?phone=5519989487171&text=Ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os%20para%20idosos.">
                        <b>Solicite um Orçamento</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>