<section class="pb-10">
    <div class="container">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full text-left tablet:text-center tablet:w-1/3 p-4">
                <h3 class="text-blue mt-4 text-20 mb-4 uppercase">Filosofia</h3>
                <p>
                    Tornar a vida mais fácil para nossos clientes e seus
                    familiares, por meio de um atendimento domiciliar focado em
                    uma atitude ética, profissional e acolhedora.
                </p>
            </div>

            <div class="w-full text-left tablet:text-center tablet:w-1/3 p-4">
                <h3 class="text-blue mt-4 text-20 mb-4 uppercase">Missão</h3>
                <p>
                    Oferecemos cuidado humanizado com respeito as necessidades
                    físicas, emocionais e culturais de nossos clientes.
                    Preservamos a rotina familiar e estimulamos a independência
                    de nossos assistidos.
                </p>
            </div>

            <div class="w-full text-left tablet:text-center tablet:w-1/3 p-4">
                <h3 class="text-blue mt-4 text-20 mb-4 uppercase">Pilares</h3>
                <p>
                    Respeito, segurança, parceria com familiares e médicos,
                    informação e flexibilidade.
                </p>
            </div>

            <div class="w-full pt-10 pb-4 text-center">
                <a
                    class="bg-blue-dark shadow-lg text-white uppercase mt-5 py-5 px-10 no-underline font-bolds inline-block rounded-full text-center"
                    target="_BLANK" href="https://api.whatsapp.com/send?phone=5519993369884&text=Ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20servi%C3%A7os%20para%20idosos."
                >
                    <b>Fale com um especialista agora</b>
                </a>
            </div>
        </div>
    </div>
</section>
