<footer class="pt-16 pb-10">
    <div class="container">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full tablet:w-1/2 p-4">
                <img src="assets/img/logo.png" alt="Emely Ragazi" />
            </div>

            <div class="w-full tablet:w-1/2 p-4">
                <ul
                    class="list-reset text-left tablet:text-right text-white text-18"
                >
                    <!--<li>
                        COREN: 320544
                    </li>-->
                    <li>
                        <a
                            class="no-underline text-white"
                            href="tel:19993369884"
                            >(19) 99336-9884</a
                        >
                    </li>
                    <!--<li>
                        <a
                            class="no-underline text-white"
                            href="mailto:contato@emelyragazi.com.br"
                            >contato@emelyragazi.com.br</a
                        >
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>
